/* import font-family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: mediumpurple;
}

.navigation
{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: #fff;
  box-shadow: 0 25px 35px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.navigation.active{
  width: 300px;
  height: 250px;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
}

.navigation .zensukeBox {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.navigation.active .zensukeBox {
  width: calc(100% - 60px);
}

.navigation .zensukeBox .username {
  white-space: nowrap;
  color: mediumpurple;
  font-size: 1.1em;
}

.navigation .zensukeBox .imgBox {
  position; relative;
  min-width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
}

.navigation .zensukeBox .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation .menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .menuToggle::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: #555;
  transform: translateY(-10px);
  box-shadow: 0 10px #555;
  transition: 0.5s
}

.navigation .menuToggle::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: #555;
  transform: translateY(10px);
  transition: 0.5s;
}

.navigation.active .menuToggle::before{
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 #555;
}

.navigation.active .menuToggle::after{
  transform: translateY(0px) rotate(-45deg);
}

h2 {
  position: relative;
  font-size: 5em;
  color: mediumpurple;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below -42px linear-gradient(transparent, #0004);
}

h2 span{
  animation: animate 5s linear infinite;
}

h2 span:nth-child(even)
{
  animation-delay: 0.4s;
}

@keyframes animate 
{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: mediumpurple;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: #fff;
    text-shadow: 0 0 10px aqua,
      0 0 20px aqua,
      0 0 40px aqua,
      0 0 80px aqua,
      0 0 160px aqua,
      0 0 400px aqua;
  }
}
  

/* hide previous styles */
/* .zensuke {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: mediumpurple; /*simple is better at start; linear-gradient(to right, aqua, mediumpurple); */
}
*/
/*
.zensuke h2{
  position: absolute;
  font-size: 26vw;
}

.zensuke h2:nth-child(1){
  color: #fff;
  text-shadow: -2px -2px 0px #183954,
    -4px -4px 0px #183954,
    -6px -6px 0px #183954,
    -8px -8px 0px #183954,
    -18px -18px 20px rgba(0,0,0,0.5),
    -18px -18px 50px rgba(0,0,0,0.5);
}

.zensuke h2:nth-child(2){
  color: #2196f3;
  opacity: 0.5;
  animation: animate 3s ease-in-out infinite;
}

.zensuke h2:nth-child(3){
  color: #2196f3;
  opacity: 0.5;
  animation: animate 3s ease-in-out infinite;
}

.zensuke h2:nth-child(4){
  color: #2196f3;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
  0%, 100%
  {
    clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);
  }
  50%
  {
    clip-path: polygon(0 66%, 14% 73%, 34% 76%, 50% 71%, 64% 62%, 79% 55%, 100% 51%, 100% 100%, 0% 100%);
  }
}
*/
@media only screen and (min-width: 768px){
  .navigation.active
  {
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
  }
}
